.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: auto;
  }
  
  .user-card {
    cursor: pointer;
    width: 300px; 
  }
  
  .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }